@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
*,
*:before,
*:after {
   box-sizing: border-box;
}
body {
	max-width: 1200px;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

label {
	clear: both;
	font-weight: 700;
	font-size: 1rem;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
input {
	border-radius: 5px;
	font-size: 1rem;
}
form {
	width: 100%;
}
.general-info input {
	height: 2rem;
	width: 100%;
	border: none;
	border-bottom: solid;
	border-radius: 0;
}
